@model Eastcoast.Models.Shared.PageViewModel

<div class="banner-carousel">
    @foreach (var banner in Model.Banners)
    {
        <div class="banner">
            <picture>
                <source srcset="@banner.MobileImageUrl" media="(max-width: 767px)" />
                <img srcset="@banner.ImageUrl" alt="@banner.Title" />
            </picture>
        </div>
    }
</div>