@font-face {
    font-family: 'lg';
    src: url("~/fonts/lg.eot?n1z373");
    src: url("~/fonts/lg.eot?#iefixn1z373") format("embedded-opentype"), url("~/fonts/lg.woff?n1z373") format("woff"), url("~/fonts/lg.ttf?n1z373") format("truetype"), url("~/fonts/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.lg-outer .lg-item {
    background: url("~/img/loading.gif") no-repeat scroll center center transparent;
    display: none !important;
  }

.lg-outer {

    .lg-actions .lg-next:before {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 3rem;
    }
    
    .lg-actions .lg-prev {
        left: 20px;
    }
    
    .lg-actions .lg-prev:after {
        content: "\f104";
        font-family: FontAwesome;
        font-size: 3rem;
    }
    
    .lg-toolbar .lg-close:after {
        content: "\f00d";
        font-family: FontAwesome;
        font-size: 1.5rem;
        font-weight: 100;
    }

    .lg-toolbar .lg-download:after {
        content: "\f019";
        font-family: FontAwesome;
        font-size: 1.2rem;
        font-weight: 100;
      }
}

.lg-on {

    .lg-backdrop.in {
        opacity: 0.8;
    }

    .lg-sub-html {
        display: none;
    }
}